.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #ffffff;
  height: 852px;
  position: relative;
  overflow: hidden;
}
.status-bar {
  height: 44px;
  position: absolute;
  right: 9px;
  left: 9px;
  top: 0px;
  overflow: hidden;
}
.right-side {
  height: auto;
  position: absolute;
  left: 289.67px;
  top: 17.33px;
  overflow: visible;
}
.left-side {
  position: absolute;
  inset: 0;
}
.status-bar-time {
  border-radius: 24px;
  width: 54px;
  height: 21px;
  position: absolute;
  left: calc(50% - 163.5px);
  top: 12px;
}
._9-41 {
  color: var(--label-color-light-primary, #000000);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 54px;
  height: 20px;
}
.vector-7 {
  width: 84.89px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 130px;
  overflow: visible;
}
.vector-8 {
  width: 84.89px;
  height: 29px;
  position: absolute;
  left: 85px;
  top: 134px;
  overflow: visible;
}
.vector-9 {
  width: 84.89px;
  height: 29px;
  position: absolute;
  left: 170px;
  top: 134px;
  overflow: visible;
}
.vector-10 {
  width: 84.89px;
  height: 29px;
  position: absolute;
  left: 255px;
  top: 134px;
  overflow: visible;
}
.vector-11 {
  width: 84.89px;
  height: 29px;
  position: absolute;
  left: 340px;
  top: 134px;
  overflow: visible;
}
.label {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 134px;
  width: 46px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.supporting-text {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: absolute;
  left: 91px;
  top: 139px;
  width: 78px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.supporting-text2 {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: absolute;
  left: 182px;
  top: 139px;
  width: 69px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.supporting-text3 {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: absolute;
  left: 270px;
  top: 139px;
  width: 62px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.supporting-text4 {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: absolute;
  left: 348px;
  top: 139px;
  width: 85px;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
._3-navigation-bar {
  background: var(
    --system-material-background-thick,
    rgba(253, 253, 253, 0.92)
  );
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 393px;
  height: 45px;
  position: absolute;
  left: 5px;
  top: 74px;
  backdrop-filter: var(--blur-system-thin-material-backdrop-filter, blur(24px));
}
.nav-bar-first-row {
  align-self: stretch;
  flex-shrink: 0;
  height: 44px;
  position: relative;
  overflow: hidden;
}
._3-3-navigation-bar-right {
  width: 170px;
  height: 44px;
  position: absolute;
  right: 0px;
  bottom: -0.5px;
}
.icons {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 28px;
  top: calc(50% - 20px);
  overflow: visible;
}
._3-1-navigation-bar-left {
  width: 180px;
  height: 44px;
  position: absolute;
  left: 0px;
  bottom: -0.5px;
}
.large-title {
  color: var(--system-label-primary, #000000);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: calc(50% - 22px);
  width: 343px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 541px;
}
.card-4 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 172px;
  height: 286px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.img {
  border-radius: 8px;
  height: auto;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: visible;
}
.stack {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.32) 100%
  );
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.adidas {
  color: #ffc91b;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.3px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
}
.gazelle-suede {
  color: var(--light, #ffffff);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: relative;
  width: 151px;
}
.stack2 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.32) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.the-adidas-originals {
  color: var(--system-label-secondary, rgba(60, 60, 67, 0.6));
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.4px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.img2 {
  border-radius: 8px;
  height: auto;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: visible;
}
._4-tab-bar {
  background: var(
    --system-material-background-thick,
    rgba(253, 253, 253, 0.92)
  );
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  backdrop-filter: var(--blur-system-thin-material-backdrop-filter, blur(24px));
}
.tab-bar {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.tab-item {
  flex: 1;
  height: 49px;
  position: relative;
}
.stack3 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 38.3px);
  top: calc(50% - 20.5px);
}
.icons2 {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
}
.div {
  color: var(--system-grey-grey-2, #aeaeb2);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label2 {
  color: var(--system-label-secondary, rgba(60, 60, 67, 0.6));
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.4px;
  font-weight: 500;
  position: relative;
  width: 76px;
  height: 12px;
}

.search-field {
  background: var(--fill-color-light-tertiary, rgba(118, 118, 128, 0.12));
  border-radius: 10px;
  padding: 7px 8px 7px 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  width: 343px;
  position: absolute;
  left: 25px;
  top: 188px;
}
.icon-magnifyingglass {
  flex-shrink: 0;
  width: 15.63px;
  height: 15.78px;
  position: relative;
  overflow: visible;
}
.placeholder {
  color: var(--label-color-light-secondary, rgba(60, 60, 67, 0.6));
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.sf-symbol-microphone {
  flex-shrink: 0;
  width: 11.88px;
  height: 17.68px;
  position: relative;
  overflow: visible;
}
.card-3 {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 16px;
  top: 251px;
  overflow: hidden;
}
.img3 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 361px;
  height: 286px;
  position: relative;
  overflow: visible;
}
.stack6 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.32) 100%
  );
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.adidas2 {
  color: #ffcb25;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.3px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
}
.gazelle-suede2 {
  color: var(--light, #ffffff);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.stack7 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.32) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.the-adidas-originals2 {
  color: var(--background, #fffee5);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.tab-item{
  max-width: 393px;
  max-height: 892px ;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
}

.nav-item {
    text-align: center;
    font-size: 24px;
    color: #888;
	margin-right: 50px
}

.nav-item:hover {
    color: #000;
}
.icon-home{
    list-style: none;
    justify-content: center;
     }
.icon-home{
	
    margin: 0 10px;

}

.bell-stroke-icon{
	list-style: none;
    display: flex;
    justify-content: center;

     }
.bell-stroke-icon{
	
    margin: 0 10px;
	}
.icon-user{
	list-style: none;
    display: flex;
    justify-content: center;
     }
.icon-user{
	
    margin: 0 10px;
}
.icon-settings{
	list-style: none;
    display: flex;
    justify-content: center;
     }
.icon-settings{
	
    margin: 0 10px;
}
.photo-icon{
	list-style: none;
    display: flex;
    justify-content: center;
     }
.photo-icon{
	
    margin: 0 10px;
}
.nav-bar {
     list-style: none;
    display: flex;
    justify-content: space-between; 
    padding: 0;
}
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}
