html { background-color: #000;}

body{
    min-height:892px;
    max-width: 393px;
    background-color: #FFC91B;
    margin: 0 auto;
    font-display: flex;
    justify-content: center;
    align-content: center;
}
.container {
    margin: auto;
    align-items: center;
    display: flex;
}
.logo img {
   display: block;
   max-width: 100%;
   height: auto;
   padding: 0px 34px 0px 33px;
   flex-direction: column;
   justify-content: center;
   align-items: center;


}